section{
    margin: 20px;
}
.logo{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}
.header{
    background-color: whitesmoke;
display: flex;
justify-content: center;
padding: 50px;
margin-bottom: 20px;
}
.nav{
    margin-bottom: 20px;
}
.nav> .nav1{
    margin: 0; 
    padding: 0;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
li{
    padding: 30px;
    background-color: whitesmoke;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.about{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
height: 400px;
margin-bottom: 20px;
}
.about1{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quick{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}
.quick> p{
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}